@charset "UTF-8";
*{
    margin:0px;
    padding:0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    text-align:center;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 0.01fr 0.2fr 0.2fr auto;
    grid-template-areas:
      "nav"
      "pre"
      "main"
      "add"
      "footer";
  }
.container2{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
    "fill info"
}
.container3{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "add1 add2 add3 add4"
}
#add1{
    grid-area:add1;
}
#add2{
    grid-area:add2;
}
#add3{
    grid-area:add3;
}
#add4{
    grid-area:add4;
}
.content{
    margin-left:10%;
    margin-right:10%;
}
#fill{
    grid-area:fill;
}
#info{
    grid-area:info;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:50px;
}
nav{
    margin-top:1rem;
    border-bottom:1px solid #6a6c6a;
}
.ws{
    margin-bottom:20px;
}
.sd{
    font-size:35px;
    font-weight:700;
}
.sd:hover{
    border-bottom:none;
    color:#347061;
}
ul{	
	display:block;
	list-style-type: none;
  }
li{
    display:inline;
    margin-right:5%;
    margin-left:5%;
  }
a{
    text-transform:uppercase;
    color:#347061;
    text-decoration:none;
    font-size:20px;
    margin:2rem;
}
a:hover{
    color:#97ab93;
    border-bottom:1px solid #6a6c6a;
}
a:active{
    border-bottom:1px solid #6a6c6a;
}
#pre{
    grid-area:pre;
    text-align:center;
}
#pre img{
    max-width: 90%;
    height: auto;
    margin:2rem;
}
.imgtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#add{
    grid-area:add;
    background-color:burlywood;
}
main{
    grid-area:main;
    background-color: #f6f7f6;
    margin:4rem 5rem 1rem 5rem;
    padding:2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size:28px;
    text-align:left;
}
h2{
    font-size:20px;
}
p{
    margin:15px;
}
.gbox{
    background-color:#97ab93;
    color:#fffbe7;
    margin:1rem;
    border-radius: 20px;
}
.gbox img{
    width:50px;
    margin:2px;
    display:inline-block;
    vertical-align:middle;
}
.gboxcon{
    text-align:left;
    display:inline-block;
    vertical-align:middle;
}
form{
    text-align:left;
    font-weight:700;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align:left;
  }
input[type=text]:focus{
    border: 2px solid #347061;
    transition-duration: 0.5s;
  }
#besk{
    padding:50px 20px;
  }
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:right;
    border-top:1px solid #6a6c6a;
}
footer img{
    height:40px;
    margin:10px;
}
